* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #34495e;
    
}

.headerNav {
    background-color: black;
}

.navbar {
    height: 50px; 
    width: 1200px
}

    .navbar .navbar-brand {
        font-size: 18px; 
    }

    .navbar .navbar-nav .nav-item .nav-link {
        padding: 8px 16px; 
    }

.notification-container {
    width: 400px;
    background-color: white;
    height:100%;
    
}
.notificationTitle {
    color: white;
    background-color: #343a40;
    text-align: center;
    height: 50px;
}
@media (max-width: 991px) {
    .notification-container {
        width: 250px;
    }
}

@media (max-width: 767px) {
    .notification-container {
        width: 100%;
        top: 0;
        left: 0;
        transform: none;
        
    }
}


.notification-container {

    height: 100px;  
    top: 0;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 10px;
}

.allContainer{
    
}